/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

.margin {
    margin-bottom: 1em;
}

body{
    background-image: url(../img/jMovie_background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #86c232;
}

a, a:visited {
    color: #61892f;
    text-decoration: none;
        font-weight: bold;

}
a:hover {
    color: #61892f;
    text-decoration: underline;
  }
